*{
    margin:0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
     justify-content:center;
     align-items: center;
     
     
}


div:first-child{
  
    width: 300px;
    color: #bbb;
    padding-bottom: 10px;
    
}

h1{
    color:rgba(10, 33, 165);
    font-size: 1.5em;
    padding: 10px 0;
}

div input[type='text']{
   
    padding: 10px;
    margin:0px;
    border: 1px solid #ccc;
    width: 70%;
}

input:focus{
    box-shadow: 2px 2px 2px #eee;

}

progress{
    /* border: 2px solid green; */
    outline: 2px solid green;
    width: 80%;
    margin:0 auto;
}

div button{
    widows: 30%;
    padding: 10px 13px;
    margin:0px;
    border: 1px solid #ccc;
    position: relative;
    right: 5px;
    background-color: #eee;
}

button:hover{
    background-color: #bbb;
    transition-duration: 0.6s;
}

#call{
    border:none;
    text-decoration: none;
    border-radius: 3px;
    padding: 6px 10px;
    background-color: rgb(58, 116, 224);
    color: white;
}

a:hover{
    background-color: rgb(26, 81, 182);
}

#second{
    position:relative;
    width: 500px;
    overflow: hidden;
    border: 2px solid #eee;
    border-radius: 2px;
    height: 500px;
}

#chats{
    list-style-type: none;
}

#chats li:last-child{
    display: none;
}

#chats li{
    padding:0 5px;
    background-color: #eee;
    padding: 7px;

}

#chats li:nth-child(odd){
    text-align: right;
}

#chats li:nth-child(even){
    background-color: #ddd;
}


